<html>

  <head>
    <script src="lib/jquery-2.1.4.js"></script>
   <script src="lib/underscore.js"></script>
    <script src="lib/backbone-min.js"></script> 
    <script src="js/models.js"></script>
    <script src="js/mainView.js"></script>
    <script src="js/carDetails.js"></script>
    <script src="js/carView.js"></script>
    <script src="js/app.js"></script>
    <script type="text/template" id="car_list">
		<li><a href="#" id=<%=id%>><%=make%> <%=model%></a></li>
	</script>
<script type="text/template" id="car-details">
<div class="form-left-col">

<label>Id:</label>
<input id="carId" name="id" type="text" value="<%= id %> "disabled />

<label>Make:</label>
<input type="text" id="make" name="make" value="<%= make %>" disabled >

<label>Model:</label>
<input type="text" id="model" name="model" value="<%= model %>"disabled />

<label>Year:</label>
<input type="text" id="year" name="year" value="<%= year %>"disabled />

<label>Color:</label>
<input type="text" id="color" name="color"  value="<%= color %>"disabled />

<label>Litre:</label>
<input type="text" id="litre" name="litre"  value="<%= litre %>"disabled />

<label>Mileage:</label>
<input type="text" id="mileage" name="mileage"  value="<%= mileage %>"disabled />

<label>Price:</label>
<input type="text" id="price" name="price"  value="<%= price %>"disabled />

<label>Condition:</label>
<input type="text" id="cond" name="cond"  value="<%= cond %>"disabled />

<label>Seller:</label>
<input type="text" id="seller" name="seller"  value="<%= seller %>"disabled />

<div id="rightArea" style="height: 300px; width: 500px;">
<img height="300" src="images/cars/<%= image %>"/>
</div>

</script>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
 <body>
<h1>Welcome to the Car Network Application</h1>
<div class="leftArea">
<ul id="carList"></ul>
</div>
<form id="carForm">
<div id="mainArea">
</div>
</form>

</body>

</html>
